Hello There!
<button onclick="getFile();">Get File</button>
<input id="v1"/>
<input id="v2"/>
<button onclick="calc();">Calculate</button>
<div id="result">
</div>
<script>
function getFile(){
    xhttp=new XMLHttpRequest();
    xhttp.onreadystatechange=function(){
       if (xhttp.readyState==4 && xhttp.status==200)
          document.getElementById("result").innerHTML=xhttp.responseText;
       }
    xhttp.open("GET","/files",true);
    xhttp.send();
}
function calc(){
    var x=document.getElementById('v1').value;
    var y=document.getElementById('v2').value;
    xhttp=new XMLHttpRequest();
    xhttp.onreadystatechange=function(){
      if (xhttp.readyState==4 && xhttp.status==200)
         document.getElementById("result").innerHTML=xhttp.responseText;
      }
    var chunk = "x="+x+"&y="+y;
    xhttp.open("POST","/calc",true);
    xhttp.send(chunk);
}
</script>
