#middlead_display
{
margin-top:20px;
//width:620px;
//height:100px;
text-align:center;
}
#middlead_display #amazon_affiliate
{
	margin-top:20px;
	margin-left:340px;
	width:336px;
	height:280px;
}