doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/foundation.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      div.top-bar
        div.top-bar-left
          ul.menu
            li
              a(href="/") Home
            li
              a(href="/state") Ready State
            li
              a(href="#") Three
            li
              a(href="#") Four
    block content
