extends layout

block content

  div.row
    div(class="small-12 columns")
      h1= title

      button#start Print Result

      div#console  Cosole log panel

      div#result Print Result

  script(src="/javascripts/state.js")
